
.night #chat > div > :nth-child(2) > div:not(:first-child), .night ul > li > div > div {
    color: #EEE;
}

.night, .night ul, .night #window, .night #input, .night select {
    background: #222;
    color: #EEE;
}

.night ul > li > i, .night select, .night footer > div > i {
    color: #DDD;
}

.night #close, .night #chat > div > div:first-child, .night ul > li > div > div:first-child > div {
    background-color: #505151;
    display: flex;
}

.night footer > div > .footer-menu-icon:hover {
    background-color: #111;
}

.night main, .night #window > div:first-child, .night footer > div, .night footer > div > i, .night ul, .night #close, .night #window, .night ul > li > div > div:last-child {
    border-color: #111;
}

.night header, .night #window > div:first-child {
    background: linear-gradient(to bottom, #111 0%, #333 100%);
}

.night footer {
    background: linear-gradient(to bottom, #333 0%, #111 100%);
}

.night ul > li > div {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35px, #222 35px, #222 100%);
}

.night #underlay {
    -webkit-filter: invert(50%) brightness(200%);
    filter: invert(50%) brightness(200%);
}

.night ::-webkit-scrollbar-track {
    background-color: #222;
}

.night ::-webkit-scrollbar, .night ::-webkit-scrollbar-thumb {
    background-color: #333;
}

.night ::-webkit-scrollbar-track, .night ::-webkit-scrollbar, .night ::-webkit-scrollbar-thumb {
    border-color: #222;
}