[Unit]
Description=IP Set Netfilter Extension
Wants=network-pre.target
Before=network-pre.target
DefaultDependencies=false

[Service]
Type=oneshot
ExecStart=/sbin/ipset restore -file /etc/ipset.conf
ExecStop=/sbin/ipset flush
RemainAfterExit=yes

[Install]
WantedBy=network.target
