[Unit]
Description=Packet Filtering Framework
Wants=network-pre.target
Before=network-pre.target
DefaultDependencies=false

[Service]
Type=oneshot
ExecStart=/sbin/iptables-restore /etc/iptables/iptables.rules
ExecReload=/sbin/iptables-restore /etc/iptables/iptables.rules
ExecStop=/usr/lib/systemd/scripts/iptables-reset
RemainAfterExit=yes

[Install]
WantedBy=network.target
