div, header, input {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	font-family: Verdana, 'DejaVu Sans', 'Bitstream Vera Sans', Geneva, sans-serif;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background: #fcfcfc;
}

header {
	flex: 1;
	display: flex;
	height: 50px;
	border-bottom: 1px solid #666;
}

header, #prefsttl {
	background: #EEE;
	background: -moz-linear-gradient(top, #EEE 0%, #FFF 100%);
	background: -webkit-linear-gradient(top, #EEE 0%,#FFF 100%);
	background: linear-gradient(to bottom, #EEE 0%,#FFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEE', endColorstr='#FFF',GradientType=0);
}

h1 {
	margin: 9px;
	font-size: 25px;
	font-weight: normal;
}

#sidebtns {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 11px;
}

input[type=range] {
	vertical-align: middle;
	margin-left: 5px;
	width: 147px;
}

main {
	display: flex;
	height: 100%;
	min-height: 0;
}

#chat {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-width: 0;
}

#chatbox {
	flex: 1;
	overflow-y: auto;
}

#chatentry {
	display: flex;
	min-height: 50px;
}

#input {
	flex: 1;
	height: 50px ;
	font-size: 30px;
	padding: 6px 0px;
	text-indent: 6px;
	min-width: 0;
	outline: 0;
	border: 0;
	border-top: 1px solid #666;
	background: transparent;
}

table {
	border-collapse: collapse;
	word-break: break-all;
}

td {
	height: 20px;
	padding: 0;
}

#chattbl td:first-child {
	padding-left: 5px;
}

td:first-child {
	min-width: 150px;
}

#chattbl tr:nth-child(odd) {
	background: #FFF;
}

#chattbl td:not(:nth-child(2)) {
	white-space: nowrap;
	text-align: right;
}

#chattbl td:nth-child(2) {
	width: 99%;
	padding: 8px;
}

#chattbl td:last-child {
	font-size: 11px;
	padding-right: 5px;
}

#chattbl td:last-child span {
	display: inline-block;
	max-width: 0;
	overflow: hidden;
	margin-top: 6px;
}

.show {
	max-width: 99px !important;
}

#wrap {
	height: 100%;
	border-left: 1px solid #666;
}

#usertbl {
	max-width: 150px;
	margin: 0 5px;
}

#sidebtns, #userlist {
	width: 185px;
}

#sidebtns img {
	height: 24px;
	width: 24px;
}

#userlist {
	overflow-y: auto;
	overflow-x: hidden;
}

label {
	cursor: inherit;
	display: inline-block;
	line-height: 36px;
	background-repeat: no-repeat;
}

label.left {
	padding-left: 40px;
	padding-right: 0;
	background-position: left 0 bottom 3px;
}

label.right {
	padding-left: 0;
	padding-right: 40px;
	background-position: right 0 bottom 3px;
}

.sound {
	margin-top:4px;
}

.backlog td,.mute > *, #chattbl td:last-child {
	opacity: 0.6;
}

a {
	color: #06A;
	text-decoration: none;
}

a:hover, .sound:hover, #sidebtns > img:hover, #prefs input:hover, #prefs label:hover {
	opacity: 0.8;
	cursor: pointer;
}

.log {
	color: #3C3;
	text-align: center;
}

.greentext {
	color: #792;
	font-family: monospace;
}

.part {
	color: #1AC;
}

.kick {
	color: #F33;
}

#close:hover {
	background: #F33;
}

#overlay {
	display: none;
	flex: 0;
}

#cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.3;
	background: #000;
}

.blur-in {
	-webkit-animation: blur-in 450ms forwards;
	-moz-animation: blur-in 450ms forwards;
	-o-animation: blur-in 450ms forwards;
	animation: blur-in 450ms forwards;
}
@-webkit-keyframes blur-in {
	0% { -webkit-filter: blur(0px); }
	100% { -webkit-filter: blur(3px); }
}
@-moz-keyframes blur-in {
	0% { -moz-filter: blur(0px); }
	100% { -moz-filter: blur(3px); }
}
@-o-keyframes blur-in {
	0% { -o-filter: blur(0px); }
	100% { -o-filter: blur(3px); }
}
@-ms-keyframes blur-in {
	0% { -ms-filter: blur(0px); }
	100% { -ms-filter: blur(3px); }
}
@keyframes blur-in {
	0% { filter: blur(0px); }
	100% { filter: blur(3px); }
}

#window {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 720px;
	max-height: 480px;
	margin: auto;
	background: #FFF;
	box-shadow: 0 0 15px #666;
	line-height: 1.5em;
	width: auto;
	height: auto;
}

#window, #prefs input {
	font-size: 25px;
}

#prefsttl {
	border-bottom: 1px solid #666;
	padding-left: 8px;
	height: 40px;
}

#prefs {
	position: absolute;
	top: 40px;
	bottom: 40px;
	left: 0;
	right: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
}

#prefs div {
	padding: 10px 40px;
}

#prefs a {
	text-decoration: underline;
}

#prefs label {
	padding: 0 10px;
}

#close {
	cursor: pointer;
	float: right;
	text-align: center;
	height: 39px;
	width: 39px;
	background: #EEE;
	border-left: 1px solid #666;
	-webkit-transition: background-color 150ms linear;
	-moz-transition: background-color 150ms linear;
	-o-transition: background-color 150ms linear;
	-ms-transition: background-color 150ms linear;
	transition: background-color 150ms linear;
}

select {
	background: transparent;
	border: none;
	font-size: 20px;
	padding: 0;
	margin: 0;
	outline: 0;
}

@media screen and (max-width: 720px) {
	#window {
		padding: 40px;
		max-height: none;
	}

	#prefs {
		top: 80px;
	}
}

@media screen and (max-width: 680px) {
	#input {
		padding: 20px 0px;
		}
	}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type=button] {
		padding: 5px;
	}
}
